html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #00325a url('../img/bg.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Fira Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #3cdcd2;
}

/* Styles for the deck of cards */

.deck {
    width: 100%;
    max-width: 660px;
    background: linear-gradient(160deg, #3cdcd2 0%, #7d78f0 100%);
    padding: 24px 0;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 70px;
    width: 70px;
    margin: 5px;
    background: #ffffffa1;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.15);
}

.deck .card.open {
    transform: rotateY(0);
    background: #00325a;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #5355bf;
    font-size: 33px;
}

.deck .card.disable {
    pointer-events: none;
}

/* Styles for the Score Panel */

.score-panel {
    text-align: left;
    width: 100%;
    max-width: 660px;
    margin-bottom: 1.5rem;
    color: #b1aef6;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 10px;
    color: #ffee58;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    margin: 0 2px;
}

.score-panel .stars li:last-of-type {
    margin-right: 0;
}

.score-panel .moves-container {
    margin: 0 10px;
}

.score-panel .moves {
    margin-right: 1px;
}

.score-panel .timer {
    margin: 0 10px;
    flex: 1;
}

.score-panel .restart {
    cursor: pointer;
    margin: 0 10px;
}
.score-panel:hover .restart {
    color: #fff;
}

/* Modal Styles */

.modal {
    background-color: rgba(0,0,0,.65);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    transition: all 2s;
    visibility: hidden;
}

.modal.show{
     display: flex;
     opacity: 1;
     visibility: visible;
}

.modal-content{
    max-width: 500px;
    background-color: #00325a;
    color: #fff;
    padding: 40px;
    border: 6px solid;
    border-image: linear-gradient(270deg,#7d78f0 1%,#3cdcd2);
    border-image-slice: 1;
    text-align: center;
}

.modal-content h2 {
    color: #b1aef6;
    font-weight: 300;
    font-size: 18px;
    margin: 0 0 2rem 0;
}

 .total-stars {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
 }
 .total-stars li {
     padding: 0;
     margin: 0 4px 0 0;
     color: #ffee58;
 }

 .modal-restart {
    color: #fff;
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    background-color: #3cdcd2;
    border-color: #3cdcd2;
    cursor: pointer;
    margin: 1rem 0 0 0;
 }
.modal-restart:hover {
    background-color: #23c2b8;
    border-color: #21bab0;
}

/* Media Queries */

@media screen and (min-width: 440px) {
    .deck .card {
        height: 80px;
        width: 80px;
        margin: 6px;
    }
}

@media screen and (min-width: 500px) {
    .deck .card {
        height: 90px;
        width: 90px;
        margin: 10px;
    }
    .modal-content{
        padding: 80px;
    }
}

@media screen and (min-width: 540px) {
    .deck .card {
        height: 100px;
        width: 100px;
        margin: 10px;
    }
}
@media screen and (min-width: 630px) {
    .deck .card {
        height: 115px;
        width: 115px;
        margin: 15px;
    }
}

@media screen and (min-width: 680px) {
    .deck .card {
        height: 125px;
        width: 125px;
    }
}
